/* nav bar */
header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

nav a {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
  background-color: #555;
  color: #ddd;
}

nav a.active {
  background-color: #008cba;
  color: white;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  color: #333;
}

h2 {
  text-align: center;
}

div {
  background-color: white;
  margin: 20px auto;
  width: 80%;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: justify;
}

#page_style {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: block;
  font-size: 16px;
  margin: 20px auto;
  border-radius: 8px;
}
